<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    
    <div id="wrapper">
    <div class="page-header-data"><h2>Perjalanan Dinas Non PNS</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Uang Harian dan Akomodasi Perjalanan Dinas Dalam Provinsi dan Luar Provinsi Non PNS</h3></br>
            <h3>Edit Data</h3>
             <form class="form-horizontal" method="post" action="/edit_sbu1_2_53/edit/<%=data[0].id%>">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Uraian:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Uraian" name="nama1" value="<%=data[0].nama1%>">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Pendidikan:</label>
                            <div class="col-sm-10">
                                    <label class="radio-inline">
                                      <input type="radio" name="nama2" value="SMP/SD">SMP/SD
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="nama2" value="D3/SMA">D3/SMA
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="nama2" value="S1/S2">S1/S2
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="nama2" value="Profesor/S3">Profesor/S3
                                    </label>
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Tujuan:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="sel1" style="width: 300px;" name="nama3">
                                    <option>--Pilih Salah Satu--</option>
                                    <option value="Dalam Provinsi">Dalam Provinsi</option>
                                    <option value="Luar Provinsi (Jakarta, Banten)">Luar Provinsi (Jakarta, Banten)</option>
                                    <option value="Dalam dan Luar Provinsi">Dalam dan Luar Provinsi</option>
                                </select>
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Akomodasi:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Akomodasi" name="nama4" value="<%=data[0].nama1%>">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Besaran Uang Harian (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Besaran (Rp.)" name="nilai" value="<%=data[0].nilai%>">
                            </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2">Keterangan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Keterangan" name="keterangan" value="<%=data[0].keterangan%>">
                            </div>
                    </div>
    
                    <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" value="Simpan" style="cursor: pointer;">Simpan</button>
                            <button type="submit" class="btn btn-danger" value="Batal" onClick="cancelAdd()" style="cursor: pointer;">Batal</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
       </div>
    <script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>