<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
	<div id="wrapper">
	<div class="page-header-data"><h2>Pengadaan Barang/Jasa</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Honorarium Personil Organisasi Pengadaan untuk Paket Pekerjaan Jasa Konsultansi</h3>
            <h3>Pejabat pembuat komitmen (PPK) dan pejabat pengadaan jasa konsultansi Nilai Paket <= Rp. 50.000.000</h3>
                  <a href="/tambah_sbu1_2_8/add" class="btn btn-success" role="button">Tambah Data</a>
        </div>
        <div class="table-responsive">          
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nilai Paket Pekerjaan</th>
                  <th>Satuan</th>
                  <th>PPK (Rp.)</th>
                  <th>Ketua (Rp.)</th>
                  <th>Sekertaris (Rp.)</th>
                  <th>Anggota (Rp.)</th>
                  <th>Keterangan</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% if(data.length){

                  for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].nama1%></td>
                    <td><%=data[i].nama2%></td>
                    <td><%=data[i].nilai1%></td>
                    <td><%=data[i].nilai2%></td>
                    <td><%=data[i].nilai3%></td>
                    <td><%=data[i].nilai4%></td>
                    <td><%=data[i].keterangan%></td>
                    <td>
                        <a class="a-inside edit" href="../edit_sbu1_2_8/edit/<%=data[i].id%>">Edit</a>

                        <a class="a-inside delete" href="../edit_sbu1_2_8/delete/<%=data[i].id%>>">Delete</a>

                    </td>
                </tr>
            <% }

              }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
              </tbody>
            </table>
            </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>