<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Perpustakaan</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Standar Biaya Jasa Perpustakaan</h3>
                  <a href="/tambah_perpus_7_2/add" class="btn btn-success" role="button">Tambah Data</a>
        </div>
         <div class="table-responsive">          
            <table class="table" id="perpus_7_2">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Uraian</th>
                  <th>Satuan</th>
                  <th>Tarif/Jasa (Rp)</th>
                  <th>Keterangan</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% if(data.length){

                  for(var i = 0;i < data.length;i++) { %>

                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].nama1%></td>
                    <td><%=data[i].nama2%></td>
                    <td><%=data[i].nilai%></td>
                    <td><%=data[i].keterangan%></td>
                    <td>
                        <a class="a-inside edit" href="../edit_perpus_7_2/edit/<%=data[i].id%>">Edit</a>

                        <a class="a-inside delete" href="../edit_perpus_7_2/delete/<%=data[i].id%>">Delete</a>

                    </td>
                </tr>
            <% }

              }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
              </tbody>
            </table>
        </div>
       </div>
       <button id="button-a" class="btn btn-danger" role="button">Open in Ms.Excel</button>

       <script>
         var wb = XLSX.utils.table_to_book(document.getElementById('perpus_7_2'),{sheet:"Sheet perpus_7_2"});
         var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});
           function s2ab(s) {
                    var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
                    var view = new Uint8Array(buf);  //create uint8array as viewer
                    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
                    return buf;
                  }
        $("#button-a").click(function(){
            saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'Table 7_2 Perpustakaan.xlsx');
          });
       </script>

   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>