<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include templates/head.ejs %>
</head>
<body>
    <% include templates/header.ejs %>
    
	<div id="wrapper">
	<div class="page-header-data"><h2>Bidang Lingkungan Hidup</h2></div>
    <div class="page-container">
        <div class="page-data">
            <h3>Honorarium Tenaga Non PNS yang bertugas sebagai Fasilitator Lingkungan dan Tenaga Pemantau/Patroli Sungai</h3></br>
            <h3>Edit Data</h3>
             <form class="form-horizontal" method="post" action="/edit_lh_5_3/edit/<%=data[0].id%>">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Uraian:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Uraian" name="nama1" value="<%=data[0].nama1%>">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Satuan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Satuan" name="nama2" value="<%=data[0].nama2%>">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Honorarium Min (Rp):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Honorarium Minimal (Rp.)" name="nilai1" value="<%=data[0].nilai1%>">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Honorarium Max (Rp.):</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Honorarium Maximal (Rp.)" name="nilai2" value="<%=data[0].nilai2%>">
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Keterangan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Masukan Keterangan" name="keterangan" value="<%=data[0].keterangan%>">
                            </div>
                    </div>
    
                    <div class="form-group">        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" value="Simpan" style="cursor: pointer;">Simpan</button>
                            <button type="submit" class="btn btn-danger" value="Batal" onClick="cancelAdd()" style="cursor: pointer;">Batal</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
       </div>
   	<script type="text/javascript" src="/../js/all.js"></script>
</body>
</html>